<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.langu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Langu">
        <activity android:name=".Activities.FamilyActivity" android:label="@string/familyMembersTextDisplay"></activity>
        <activity android:name=".Activities.ColorsActivity" android:label="@string/colorsTextDisplay" />
        <activity android:name=".Activities.PhrasesActivity" android:label="@string/PhrasesDisplay"/>
        <activity android:name=".Activities.NumbersActivity" android:label="@string/numbersText" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>